body{
    overflow-x: hidden;
    background-color: black;
}


/* ==========================================*/
    /* Movil */
@media (max-width: 767px){
  
    .logo{
        width:300px;
        height: 150px;
        margin-top: 40px;
        margin-left: 30px;
        opacity: 0;
        animation: aparecer 2s ease-in-out forwards;
    }
    
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    


}


/* ==========================================*/
    /* TABLET */
    @media (min-width: 768px) and (max-width: 990px){
     
     .logo{
         width:300px;
         height: 150px;
         margin-top: 20px;
         margin-left: 230px;
         opacity: 0;
         animation: aparecer 2s ease-in-out forwards;
     }
     
     @keyframes aparecer {
         0% {
             opacity: 0;
         }
         100% {
             opacity: 1;
         }
     }
     
   
 }



/* ==========================================*/
    /* PC */
    @media (min-width: 991px){

        /* styles.css */
        
        .logo{
            width:500px;
            height: 200px;
            margin-top: 40px;
            margin-left: 650px;
            opacity: 0;
            animation: aparecer 2s ease-in-out forwards;
        }
        
        @keyframes aparecer {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

   /* ==========================================/*
    /* Paquetes*/


    .msj{
        color: white;
        margin-left: 100px;
        animation: aparecer 2s ease-in-out forwards;
    }

    .regre{
        color: white;
        font-size: 30px;
        margin-left: 100px;
        animation: aparecer 2s ease-in-out forwards;
    }


    .regre:hover{
        color: orange;
        animation: aparecer 2s ease-in-out forwards;
    }


    }
   
